// =========================
// Colors
// =========================

$color-white: #FFFFFF;
$color-black: #000000;
$color-background: #F0F0F0;
$color-gray: #D9D9D9;
$color-gray-button: #DEDEDE;
$color-gray-text: #6E6E6E;
$color-gray-line: #9A9999;

$color-rating: #EBFB02;
$color-top-product: #3D06BF;
$color-featured: #FE0505;
$color-review: #02FF6C;
$color-discount: #FF0000;


// =========================
// Fonts
// =========================

$font-logo: "Candal", sans-serif;
$font-main: "Coda", sans-serif;
$font-caption: "Coda Caption", sans-serif;


// =========================
// Font sizes
// =========================

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-48: 48px;
$font-size-60: 60px;


// =========================
// Font weights
// =========================

$font-weight-regular: 400;
$font-weight-extra-bold: 800;


// =========================
// Border
// =========================

$border-width: 1px;
$border-color: $color-black;


// =========================
// Border radius
// =========================

$radius-search: 50px;
$radius-button: 50px;
$radius-checkout: 36px;
$radius-filter: 20px;
$radius-card: 14px;
$radius-badge: 14px;
$radius-review: 12px;
$radius-small-button: 8px;
$radius-product-image: 8px;